In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import os

import haversine as hs

from datetime import datetime, timedelta

import dateutil.parser

In [2]:
from IPython.display import display

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [3]:
race_info = pd.read_csv("Race_Info.csv")

race_info.shape

(1082, 15)

In [4]:
race_info.head()

,year,round,race,date,country,location,circuit,circuitRef,header,gap,distance (km),lat,lng,raceId,circuitId
0,2023,1,Bahrain Grand Prix,2023-03-05,Bahrain,Sakhir,Bahrain International Circuit,bahrain,single,0,0.00,26.0325,50.5106,1098,3
1,2023,2,Saudi Arabian Grand Prix,2023-03-19,Saudi Arabia,Jeddah,Jeddah Corniche Circuit,jeddah,single,2,1258.43,21.6319,39.1044,1099,77
2,2023,3,Australian Grand Prix,2023-04-02,Australia,Melbourne,Albert Park Grand Prix Circuit,albert_park,single,2,12817.12,-37.8497,144.9680,1100,1
3,2023,4,Azerbaijan Grand Prix,2023-04-30,Azerbaijan,Baku,Baku City Circuit,baku,double,4,12989.08,40.3725,49.8533,1101,73
4,2023,5,Miami Grand Prix,2023-05-07,USA,Miami,Miami International Autodrome,miami,double,1,11015.93,25.9581,-80.2389,1102,79

In [5]:
race_info.loc[race_info['year'] == 2022]

,year,round,race,date,country,location,circuit,circuitRef,header,gap,distance (km),lat,lng,raceId,circuitId
22,2022,1,Bahrain Grand Prix,2022-03-20,Bahrain,Sakhir,Bahrain International Circuit,bahrain,double,0,0.00,26.0325,50.51060,1074,3
23,2022,2,Saudi Arabian Grand Prix,2022-03-27,Saudi Arabia,Jeddah,Jeddah Corniche Circuit,jeddah,double,1,1258.43,21.6319,39.10440,1075,77
24,2022,3,Australian Grand Prix,2022-04-10,Australia,Melbourne,Albert Park Grand Prix Circuit,albert_park,single,2,12817.12,-37.8497,144.96800,1076,1
25,2022,4,Emilia Romagna Grand Prix,2022-04-24,Italy,Imola,Autodromo Enzo e Dino Ferrari,imola,single,2,16086.36,44.3439,11.71670,1077,21
26,2022,5,Miami Grand Prix,2022-05-08,USA,Miami,Miami International Autodrome,miami,single,2,8172.92,25.9581,-80.23890,1078,79
27,2022,6,Spanish Grand Prix,2022-05-22,Spain,Montmeló,Circuit de Barcelona-Catalunya,catalunya,double,2,7536.29,41.5700,2.26111,1079,4
28,2022,7,Monaco Grand Prix,2022-05-29,Monaco,Monte-Carlo,Circuit de Monaco,monaco,double,1,485.64,43.7347,7.42056,1080,6
29,2022,8,Azerbaijan Grand Prix,2022-06-12,Azerbaijan,Baku,Baku City Circuit,baku,double,2,3484.89,40.3725,49.85330,1081,73
30,2022,9,Canadian Grand Prix,2022-06-19,Canada,Montreal,Circuit Gilles Villeneuve,villeneuve,double,1,8930.53,45.5000,-73.52280,1082,7
31,2022,10,British Grand Prix,2022-07-03,UK,Silverstone,Silverstone Circuit,silverstone,double,2,5137.22,52.0786,-1.01694,1083,9
32,2022,11,Austrian Grand Prix,2022-07-10,Austria,Spielberg,Red Bull Ring,red_bull_ring,double,1,1254.64,47.2197,14.76470,1084,70
33,2022,12,French Grand Prix,2022-07-24,France,Le Castellet,Circuit Paul Ricard,ricard,double,2,828.95,43.2506,5.79167,1085,34
34,2022,13,Hungarian Grand Prix,2022-07-31,Hungary,Budapest,Hungaroring,hungaroring,double,1,1153.36,47.5789,19.24860,1086,11
35,2022,14,Belgian Grand Prix,2022-08-28,Belgium,Spa,Circuit de Spa-Francorchamps,spa,triple,4,1017.59,50.4372,5.97139,1087,13
36,2022,15,Dutch Grand Prix,2022-09-04,Netherlands,Zandvoort,Circuit Park Zandvoort,zandvoort,triple,1,238.60,52.3888,4.54092,1088,39
37,2022,16,Italian Grand Prix,2022-09-11,Italy,Monza,Autodromo Nazionale di Monza,monza,triple,1,828.29,45.6156,9.28111,1089,14
38,2022,17,Singapore Grand Prix,2022-10-02,Singapore,Marina Bay,Marina Bay Street Circuit,marina_bay,double,3,10260.98,1.2914,103.86400,1091,15
39,2022,18,Japanese Grand Prix,2022-10-09,Japan,Suzuka,Suzuka Circuit,suzuka,double,1,5035.99,34.8431,136.54100,1092,22
40,2022,19,United States Grand Prix,2022-10-23,USA,Austin,Circuit of the Americas,americas,double,2,10829.00,30.1328,-97.64110,1093,69
41,2022,20,Mexico City Grand Prix,2022-10-30,Mexico,Mexico City,Autódromo Hermanos Rodríguez,rodriguez,double,1,1201.87,19.4042,-99.09070,1094,32
42,2022,21,Brazilian Grand Prix,2022-11-13,Brazil,São Paulo,Autódromo José Carlos Pace,interlagos,double,2,7430.98,-23.7036,-46.69970,1095,18
43,2022,22,Abu Dhabi Grand Prix,2022-11-20,UAE,Abu Dhabi,Yas Marina Circuit,yas_marina,double,1,12149.09,24.4672,54.60310,1096,24

In [7]:
f1_22 = race_info.loc[race_info['year'] == 2022]

f1_22.reset_index(drop = True, inplace = True)

f1_22

,year,round,race,date,country,location,circuit,circuitRef,header,gap,distance (km),lat,lng,raceId,circuitId
0,2022,1,Bahrain Grand Prix,2022-03-20,Bahrain,Sakhir,Bahrain International Circuit,bahrain,double,0,0.00,26.0325,50.51060,1074,3
1,2022,2,Saudi Arabian Grand Prix,2022-03-27,Saudi Arabia,Jeddah,Jeddah Corniche Circuit,jeddah,double,1,1258.43,21.6319,39.10440,1075,77
2,2022,3,Australian Grand Prix,2022-04-10,Australia,Melbourne,Albert Park Grand Prix Circuit,albert_park,single,2,12817.12,-37.8497,144.96800,1076,1
3,2022,4,Emilia Romagna Grand Prix,2022-04-24,Italy,Imola,Autodromo Enzo e Dino Ferrari,imola,single,2,16086.36,44.3439,11.71670,1077,21
4,2022,5,Miami Grand Prix,2022-05-08,USA,Miami,Miami International Autodrome,miami,single,2,8172.92,25.9581,-80.23890,1078,79
5,2022,6,Spanish Grand Prix,2022-05-22,Spain,Montmeló,Circuit de Barcelona-Catalunya,catalunya,double,2,7536.29,41.5700,2.26111,1079,4
6,2022,7,Monaco Grand Prix,2022-05-29,Monaco,Monte-Carlo,Circuit de Monaco,monaco,double,1,485.64,43.7347,7.42056,1080,6
7,2022,8,Azerbaijan Grand Prix,2022-06-12,Azerbaijan,Baku,Baku City Circuit,baku,double,2,3484.89,40.3725,49.85330,1081,73
8,2022,9,Canadian Grand Prix,2022-06-19,Canada,Montreal,Circuit Gilles Villeneuve,villeneuve,double,1,8930.53,45.5000,-73.52280,1082,7
9,2022,10,British Grand Prix,2022-07-03,UK,Silverstone,Silverstone Circuit,silverstone,double,2,5137.22,52.0786,-1.01694,1083,9
10,2022,11,Austrian Grand Prix,2022-07-10,Austria,Spielberg,Red Bull Ring,red_bull_ring,double,1,1254.64,47.2197,14.76470,1084,70
11,2022,12,French Grand Prix,2022-07-24,France,Le Castellet,Circuit Paul Ricard,ricard,double,2,828.95,43.2506,5.79167,1085,34
12,2022,13,Hungarian Grand Prix,2022-07-31,Hungary,Budapest,Hungaroring,hungaroring,double,1,1153.36,47.5789,19.24860,1086,11
13,2022,14,Belgian Grand Prix,2022-08-28,Belgium,Spa,Circuit de Spa-Francorchamps,spa,triple,4,1017.59,50.4372,5.97139,1087,13
14,2022,15,Dutch Grand Prix,2022-09-04,Netherlands,Zandvoort,Circuit Park Zandvoort,zandvoort,triple,1,238.60,52.3888,4.54092,1088,39
15,2022,16,Italian Grand Prix,2022-09-11,Italy,Monza,Autodromo Nazionale di Monza,monza,triple,1,828.29,45.6156,9.28111,1089,14
16,2022,17,Singapore Grand Prix,2022-10-02,Singapore,Marina Bay,Marina Bay Street Circuit,marina_bay,double,3,10260.98,1.2914,103.86400,1091,15
17,2022,18,Japanese Grand Prix,2022-10-09,Japan,Suzuka,Suzuka Circuit,suzuka,double,1,5035.99,34.8431,136.54100,1092,22
18,2022,19,United States Grand Prix,2022-10-23,USA,Austin,Circuit of the Americas,americas,double,2,10829.00,30.1328,-97.64110,1093,69
19,2022,20,Mexico City Grand Prix,2022-10-30,Mexico,Mexico City,Autódromo Hermanos Rodríguez,rodriguez,double,1,1201.87,19.4042,-99.09070,1094,32
20,2022,21,Brazilian Grand Prix,2022-11-13,Brazil,São Paulo,Autódromo José Carlos Pace,interlagos,double,2,7430.98,-23.7036,-46.69970,1095,18
21,2022,22,Abu Dhabi Grand Prix,2022-11-20,UAE,Abu Dhabi,Yas Marina Circuit,yas_marina,double,1,12149.09,24.4672,54.60310,1096,24

In [9]:
tracks = f1_22['circuitRef'].values.tolist()

print(tracks)

['bahrain', 'jeddah', 'albert_park', 'imola', 'miami', 'catalunya', 'monaco', 'baku', 'villeneuve', 'silverstone', 'red_bull_ring', 'ricard', 'hungaroring', 'spa', 'zandvoort', 'monza', 'marina_bay', 'suzuka', 'americas', 'rodriguez', 'interlagos', 'yas_marina']

In [10]:
ext = '.csv'

for track in tracks:
    print(track + ext)

bahrain.csv
jeddah.csv
albert_park.csv
imola.csv
miami.csv
catalunya.csv
monaco.csv
baku.csv
villeneuve.csv
silverstone.csv
red_bull_ring.csv
ricard.csv
hungaroring.csv
spa.csv
zandvoort.csv
monza.csv
marina_bay.csv
suzuka.csv
americas.csv
rodriguez.csv
interlagos.csv
yas_marina.csv

In [11]:
datapath = "Weather/"

In [12]:
os.listdir(datapath)

['zandvoort.csv',
 'americas.csv',
 'yas_marina.csv',
 'hungaroring.csv',
 'losail.csv',
 'miami.csv',
 'marina_bay.csv',
 'interlagos.csv',
 'spa.csv',
 'bahrain.csv',
 'jeddah.csv',
 'baku.csv',
 'vegas.csv',
 'red_bull_ring.csv',
 'imola.csv',
 'monaco.csv',
 'villeneuve.csv',
 'catalunya.csv',
 'albert_park.csv',
 'suzuka.csv',
 'shanghai.csv',
 'silverstone.csv',
 'monza.csv',
 'rodriguez.csv']

In [44]:
f = '%Y/%m/%d'

f1_22['date'] = pd.to_datetime(f1_22['date'], format=f).dt.date

In [53]:
track = 'yas_marina'

track_weather = pd.read_csv(datapath + track + ext)

race_date = f1_22.loc[f1_22['circuitRef'] == track, 'date'].values[0]

print(datapath + track + ext, race_date)

#track_weather['time'].tail(50)

f = '%d/%m/%Y'

track_weather['date'] = track_weather['time']

track_weather['date'] = pd.to_datetime(track_weather['date'], format=f).dt.date

race_weather = track_weather.loc[track_weather['date'] == race_date]
     
print() 

print(race_date, race_weather)   

#track_weather.tail(50)

print(type(race_date), race_date)

#track_weather.info()

Weather/yas_marina.csv 2022-11-20

2022-11-20             time  weathercode (wmo code)  temperature_2m_max (°C)  \
3610  20/11/2022                       0                     31.3

      temperature_2m_min (°C)  temperature_2m_mean (°C)  \
3610                     23.7                      27.3

      apparent_temperature_max (°C)  apparent_temperature_min (°C)  \
3610                           30.7                           25.9

      apparent_temperature_mean (°C) sunrise (iso8601)  sunset (iso8601)  \
3610                            28.0  2022-11-20T06:40  2022-11-20T17:33

      precipitation_sum (mm)  rain_sum (mm)  snowfall_sum (cm)  \
3610                     0.0            0.0                  0

      precipitation_hours (h)  windspeed_10m_max (km/h)  \
3610                        0                      28.9

      windgusts_10m_max (km/h)  winddirection_10m_dominant (°)  \
3610                      43.2                             131

      shortwave_radiation_sum (MJ/m²)  et0_fao_evapotranspiration (mm)  \
3610                            16.42                             5.28

            date
3610  2022-11-20
<class 'datetime.date'> 2022-11-20

In [54]:
race_weather

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),date
3610,20/11/2022,0,31.3,23.7,27.3,30.7,25.9,28.0,2022-11-20T06:40,2022-11-20T17:33,0.0,0.0,0,0,28.9,43.2,131,16.42,5.28,2022-11-20

In [55]:
f = '%Y/%m/%d'

f1_22['date'] = pd.to_datetime(f1_22['date'], format=f).dt.date

In [64]:
f1_22_weather = pd.DataFrame()
f = '%d/%m/%Y'

for track in tracks:
    
    race_date = f1_22.loc[f1_22['circuitRef'] == track, 'date'].values[0]
    
    try:
        track_weather = pd.read_csv(datapath + track + ext)
        
    except:
        print("No file :", datapath + track + ext)
        
        continue
        
    track_weather['date'] = track_weather['time']

    track_weather['date'] = pd.to_datetime(track_weather['date'], format=f).dt.date
    
    race_weather = track_weather.loc[track_weather['date'] == race_date]
     
    #print(race_date, race_weather['date'])    
        
    f1_22_weather = pd.concat([f1_22_weather, race_weather])
    
    f1_22_weather.loc[f1_22_weather['date'] == race_date, 'circuitRef'] = track
    
    
    
    #print(datapath + track + ext, race_date)
    
    #print()

No file : Weather/ricard.csv

In [65]:
f1_22_weather

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),date,circuitRef
3365,20/03/2022,0,22.8,17.3,20.000000,22.2,14.6,17.900000,2022-03-20T05:41,2022-03-20T17:48,0.0,0.0,0.0,0,22.5,29.2,127.00000,24.07,5.510000,2022-03-20,bahrain
3372,27/03/2022,0,30.4,19.6,24.700000,30.0,19.5,23.600000,2022-03-27T06:21,2022-03-27T18:36,0.0,0.0,0.0,0,28.3,39.2,121.00000,25.53,7.000000,2022-03-27,jeddah
3386,10/04/2022,2,26.4,17.0,21.100000,24.3,15.9,19.700000,2022-04-10T06:42,2022-04-10T18:01,0.0,0.0,0.0,0,25.8,47.2,94.00000,15.47,3.980000,2022-04-10,albert_park
3400,24/04/2022,61,16.5,10.7,13.700000,14.5,8.8,11.900000,2022-04-24T06:14,2022-04-24T20:08,3.3,3.3,0.0,9,18.0,46.4,246.00000,12.52,2.260000,2022-04-24,imola
3414,08/05/2022,53,30.3,23.3,26.000000,35.7,26.0,29.800000,2022-05-08T06:38,2022-05-08T19:56,2.7,2.7,0.0,11,16.6,34.2,201.00000,21.23,4.390000,2022-05-08,miami
3428,22/05/2022,1,30.8,17.1,24.320833,29.8,16.0,23.254166,2022-05-22T06:25,2022-05-22T21:09,0.0,0.0,0.0,0,21.4,35.6,212.98096,29.01,7.179999,2022-05-22,catalunya
3435,29/05/2022,53,22.1,18.8,20.800000,24.3,20.0,22.200000,2022-05-29T05:53,2022-05-29T21:02,5.3,5.3,0.0,14,10.3,34.6,321.00000,19.20,3.430000,2022-05-29,monaco
3449,12/06/2022,1,27.9,21.4,25.000000,28.8,23.7,26.100000,2022-06-12T05:10,2022-06-12T20:10,0.0,0.0,0.0,0,22.1,39.2,298.00000,27.02,5.960000,2022-06-12,baku
3456,19/06/2022,1,21.3,11.4,16.200000,17.6,7.4,12.500000,2022-06-19T05:05,2022-06-19T20:45,0.0,0.0,0.0,0,24.2,46.1,116.00000,30.63,6.080000,2022-06-19,villeneuve
3470,03/07/2022,51,18.8,9.1,14.500000,17.5,7.3,12.800000,2022-07-03T04:49,2022-07-03T21:27,0.2,0.2,0.0,2,15.0,29.2,180.00000,20.52,3.510000,2022-07-03,silverstone
3477,10/07/2022,51,19.5,12.4,15.900000,21.0,12.0,15.900000,2022-07-10T05:15,2022-07-10T20:56,2.5,2.5,0.0,11,12.7,44.3,127.00000,20.42,3.490000,2022-07-10,red_bull_ring
3498,31/07/2022,53,18.5,16.6,17.600000,17.9,14.4,16.100000,2022-07-31T05:19,2022-07-31T20:19,4.1,4.1,0.0,8,29.8,49.7,150.00000,7.39,1.810000,2022-07-31,hungaroring
3526,28/08/2022,2,20.7,14.0,17.000000,18.3,12.2,15.100000,2022-08-28T06:44,2022-08-28T20:30,0.0,0.0,0.0,0,15.8,35.6,57.00000,16.80,3.550000,2022-08-28,spa
3533,04/09/2022,3,24.1,16.2,20.000000,25.8,16.3,20.900000,2022-09-04T06:58,2022-09-04T20:23,0.0,0.0,0.0,0,11.4,19.1,297.00000,15.69,2.930000,2022-09-04,zandvoort
3540,11/09/2022,1,24.9,13.5,19.600000,26.5,13.4,20.300000,2022-09-11T06:56,2022-09-11T19:42,0.0,0.0,0.0,0,7.2,15.5,53.00000,19.74,3.600000,2022-09-11,monza
3561,02/10/2022,63,28.0,25.0,26.300000,32.6,29.5,31.000000,2022-10-02T06:50,2022-10-02T18:56,11.4,11.4,0.0,17,8.6,20.5,151.00000,7.43,1.770000,2022-10-02,marina_bay
3568,09/10/2022,61,20.2,15.0,16.900000,21.3,14.9,17.500000,2022-10-09T05:54,2022-10-09T17:27,7.6,7.6,0.0,11,10.0,25.9,41.00000,5.74,1.150000,2022-10-09,suzuka
3582,23/10/2022,3,30.4,20.0,24.500000,27.8,19.9,23.400000,2022-10-23T07:38,2022-10-23T18:51,0.0,0.0,0.0,0,28.6,59.8,275.00000,14.74,5.000000,2022-10-23,americas
3589,30/10/2022,51,22.1,11.6,16.100000,22.5,11.0,16.000000,2022-10-30T06:36,2022-10-30T18:03,0.1,0.1,0.0,1,12.1,23.4,239.00000,19.58,3.670000,2022-10-30,rodriguez
3603,13/11/2022,55,25.8,16.8,20.800000,30.4,18.3,23.300000,2022-11-13T05:14,2022-11-13T18:27,1.2,1.2,0.0,3,13.0,29.2,352.00000,26.95,5.040000,2022-11-13,interlagos
3610,20/11/2022,0,31.3,23.7,27.300000,30.7,25.9,28.000000,2022-11-20T06:40,2022-11-20T17:33,0.0,0.0,0.0,0,28.9,43.2,131.00000,16.42,5.280000,2022-11-20,yas_marina

In [68]:
print(f1_22_weather.columns.tolist())

['time', 'weathercode (wmo code)', 'temperature_2m_max (°C)', 'temperature_2m_min (°C)', 'temperature_2m_mean (°C)', 'apparent_temperature_max (°C)', 'apparent_temperature_min (°C)', 'apparent_temperature_mean (°C)', 'sunrise (iso8601)', 'sunset (iso8601)', 'precipitation_sum (mm)', 'rain_sum (mm)', 'snowfall_sum (cm)', 'precipitation_hours (h)', 'windspeed_10m_max (km/h)', 'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)', 'shortwave_radiation_sum (MJ/m²)', 'et0_fao_evapotranspiration (mm)', 'date', 'circuitRef']

In [70]:
f1_22_weather = f1_22_weather[['date', 'circuitRef', 'time', 'weathercode (wmo code)', 'temperature_2m_max (°C)', 'temperature_2m_min (°C)', 'temperature_2m_mean (°C)', 'apparent_temperature_max (°C)', 'apparent_temperature_min (°C)', 'apparent_temperature_mean (°C)', 'sunrise (iso8601)', 'sunset (iso8601)', 'precipitation_sum (mm)', 'rain_sum (mm)', 'snowfall_sum (cm)', 'precipitation_hours (h)', 'windspeed_10m_max (km/h)', 'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)', 'shortwave_radiation_sum (MJ/m²)', 'et0_fao_evapotranspiration (mm)']]

In [71]:
f1_22_weather

,date,circuitRef,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
3365,2022-03-20,bahrain,20/03/2022,0,22.8,17.3,20.000000,22.2,14.6,17.900000,2022-03-20T05:41,2022-03-20T17:48,0.0,0.0,0.0,0,22.5,29.2,127.00000,24.07,5.510000
3372,2022-03-27,jeddah,27/03/2022,0,30.4,19.6,24.700000,30.0,19.5,23.600000,2022-03-27T06:21,2022-03-27T18:36,0.0,0.0,0.0,0,28.3,39.2,121.00000,25.53,7.000000
3386,2022-04-10,albert_park,10/04/2022,2,26.4,17.0,21.100000,24.3,15.9,19.700000,2022-04-10T06:42,2022-04-10T18:01,0.0,0.0,0.0,0,25.8,47.2,94.00000,15.47,3.980000
3400,2022-04-24,imola,24/04/2022,61,16.5,10.7,13.700000,14.5,8.8,11.900000,2022-04-24T06:14,2022-04-24T20:08,3.3,3.3,0.0,9,18.0,46.4,246.00000,12.52,2.260000
3414,2022-05-08,miami,08/05/2022,53,30.3,23.3,26.000000,35.7,26.0,29.800000,2022-05-08T06:38,2022-05-08T19:56,2.7,2.7,0.0,11,16.6,34.2,201.00000,21.23,4.390000
3428,2022-05-22,catalunya,22/05/2022,1,30.8,17.1,24.320833,29.8,16.0,23.254166,2022-05-22T06:25,2022-05-22T21:09,0.0,0.0,0.0,0,21.4,35.6,212.98096,29.01,7.179999
3435,2022-05-29,monaco,29/05/2022,53,22.1,18.8,20.800000,24.3,20.0,22.200000,2022-05-29T05:53,2022-05-29T21:02,5.3,5.3,0.0,14,10.3,34.6,321.00000,19.20,3.430000
3449,2022-06-12,baku,12/06/2022,1,27.9,21.4,25.000000,28.8,23.7,26.100000,2022-06-12T05:10,2022-06-12T20:10,0.0,0.0,0.0,0,22.1,39.2,298.00000,27.02,5.960000
3456,2022-06-19,villeneuve,19/06/2022,1,21.3,11.4,16.200000,17.6,7.4,12.500000,2022-06-19T05:05,2022-06-19T20:45,0.0,0.0,0.0,0,24.2,46.1,116.00000,30.63,6.080000
3470,2022-07-03,silverstone,03/07/2022,51,18.8,9.1,14.500000,17.5,7.3,12.800000,2022-07-03T04:49,2022-07-03T21:27,0.2,0.2,0.0,2,15.0,29.2,180.00000,20.52,3.510000
3477,2022-07-10,red_bull_ring,10/07/2022,51,19.5,12.4,15.900000,21.0,12.0,15.900000,2022-07-10T05:15,2022-07-10T20:56,2.5,2.5,0.0,11,12.7,44.3,127.00000,20.42,3.490000
3498,2022-07-31,hungaroring,31/07/2022,53,18.5,16.6,17.600000,17.9,14.4,16.100000,2022-07-31T05:19,2022-07-31T20:19,4.1,4.1,0.0,8,29.8,49.7,150.00000,7.39,1.810000
3526,2022-08-28,spa,28/08/2022,2,20.7,14.0,17.000000,18.3,12.2,15.100000,2022-08-28T06:44,2022-08-28T20:30,0.0,0.0,0.0,0,15.8,35.6,57.00000,16.80,3.550000
3533,2022-09-04,zandvoort,04/09/2022,3,24.1,16.2,20.000000,25.8,16.3,20.900000,2022-09-04T06:58,2022-09-04T20:23,0.0,0.0,0.0,0,11.4,19.1,297.00000,15.69,2.930000
3540,2022-09-11,monza,11/09/2022,1,24.9,13.5,19.600000,26.5,13.4,20.300000,2022-09-11T06:56,2022-09-11T19:42,0.0,0.0,0.0,0,7.2,15.5,53.00000,19.74,3.600000
3561,2022-10-02,marina_bay,02/10/2022,63,28.0,25.0,26.300000,32.6,29.5,31.000000,2022-10-02T06:50,2022-10-02T18:56,11.4,11.4,0.0,17,8.6,20.5,151.00000,7.43,1.770000
3568,2022-10-09,suzuka,09/10/2022,61,20.2,15.0,16.900000,21.3,14.9,17.500000,2022-10-09T05:54,2022-10-09T17:27,7.6,7.6,0.0,11,10.0,25.9,41.00000,5.74,1.150000
3582,2022-10-23,americas,23/10/2022,3,30.4,20.0,24.500000,27.8,19.9,23.400000,2022-10-23T07:38,2022-10-23T18:51,0.0,0.0,0.0,0,28.6,59.8,275.00000,14.74,5.000000
3589,2022-10-30,rodriguez,30/10/2022,51,22.1,11.6,16.100000,22.5,11.0,16.000000,2022-10-30T06:36,2022-10-30T18:03,0.1,0.1,0.0,1,12.1,23.4,239.00000,19.58,3.670000
3603,2022-11-13,interlagos,13/11/2022,55,25.8,16.8,20.800000,30.4,18.3,23.300000,2022-11-13T05:14,2022-11-13T18:27,1.2,1.2,0.0,3,13.0,29.2,352.00000,26.95,5.040000
3610,2022-11-20,yas_marina,20/11/2022,0,31.3,23.7,27.300000,30.7,25.9,28.000000,2022-11-20T06:40,2022-11-20T17:33,0.0,0.0,0.0,0,28.9,43.2,131.00000,16.42,5.280000